{% include "sitio/cabecera.html" %}

<h1>
    Horarios
</h1>


<div class="col-md-7">
            
    <div class="table-responsive">
        <table class="table table-primary">
            <thead>
                <tr>
                    <th>Lunes</th>
                    <th>Martes</th>
                    <th>Miercoles</th>
                    <th>Jueves</th>
                    <th>Viernes</th>
                </tr>
            </thead>
            <tbody>

                {% for i in range (0,30,7) %}
                <tr>
                    {% for j in range(0,5) %}
                    <td>{{ Horario[j+i] }}</td>
                    {% endfor %}

                </tr>
                {% endfor %}
                

            </tbody>
        </table>
    </div>
    

</div>



<form action="/horarios/solicitar" method="post" enctype="multipart/form-data">

    <div class="mb-3">
        <label for="txtHora">DIA MES:</label>
        <input type="date" id="txtHora" name="txtHora">

    </div>

    <div class="mb-3">
        <label for="txtComputadora" class="form-label">Laboratorio:</label>
        <input type="text" class="form-control" name="txtComputadora" id="txtComputadora" aria-describedby="helpId"
            placeholder="Seleccione computadora">
    </div>

    <button type="submit" class="btn btn-primary">Agregar</button>

</form>

<div class="row">
    <h1>Solicitudes</h1>
    {% for sol in solicitud %}
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Laboratorio: {{ sol[1] }}</h4>
                <h4 class="card-title">Hora: {{ sol[3] }}</h4>
            </div>
        </div>
    </div>
    {% endfor %}

</div>

{% include "sitio/pie.html" %}