{% include "sitio/cabecera.html" %}
<link rel="stylesheet" href="{{ url_for('static', filename='horarios.css') }}">


<h1>
    Horarios
</h1>


<div class="col-md-7">

    <div class="table-responsive">
        <table class="table table-primary">
            <thead>
                <tr>
                    <th>Lunes</th>
                    <th>Martes</th>
                    <th>Miercoles</th>
                    <th>Jueves</th>
                    <th>Viernes</th>
                </tr>
            </thead>
            <tbody>
                {% for i in range (0,tamano,7) %}
                <tr>
                    {% for j in range(0,5) %}
                    <td class="solicitar">{{ Horario[j+i][0:2] }}
                        <div style="display: none;">{{ Horario[j+i] }}</div>
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


</div>


<div id="menu_solicitud" class="popup">
    <div class="popup-content">
      <form id="form_reserva">
        <h2>Reserva</h2>
      <p>Reserva una computadora o un laboratorio</p>
      <div id="diajsjs"></div>
      <div id="responsablejsjs" style="display: none;">{{  session["matricula"] }}</div>
      Unico: <input type="radio" name="tipo_reserva" id="" value="unico">
      Grupal: <input type="radio" name="tipo_reserva" id="" value="grupal">

      <br>
      <select name="hora_reserva" id="hora_reserva">
      </select>
      <br>
      <button id="close-btn">Cancelar</button>
      <button id="close-btn" type="submit">Enviar</button>
      </form>
    </div>
</div>

  <div class="overlay"></div>


<script src="{{ url_for('static', filename='horarios.js') }}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<div class="row">
    <h1>Solicitudes</h1>
    {% for sol in solicitud %}
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Laboratorio: {{ sol[1] }}</h4>
                <h4 class="card-title">Hora: {{ sol[3] }}</h4>
            </div>
        </div>
    </div>
    {% endfor %}

</div>

{% include "sitio/pie.html" %}