{% include "sitio/cabecera.html" %}
<article>
    <h1>Laboratorio 1</h1>
</article>


<div class="row">

    {% for libro in computadoras %}
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Computadora: {{ libro[0] }}</h4>
                <h4 class="card-title">Usando: {{ libro[2] }}</h4>
                <img src="/img/{{ libro[3] }}.PNG" class="img-fluid rounded-top" alt="">

                <p class="card-text">
                    <a name="" id="" class="btn btn-primary" href="" role="button">Solicitar</a>
                </p>
            </div>
        </div>
    </div>
    {% endfor %}

</div>



{% include "sitio/pie.html" %}