<!doctype html>
<html lang="en">

<head>
    <title>Sign Up</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <h1>Registro Nuevo Usuario</h1>
                    </div>
                    <div class="card-body">
                        <form action="/signup" method="post">

                            <div class="mb-3">
                                <label for="txtUsuario" class="form-label">Matricula de Estudiante:</label>
                                <input type="text" class="form-control" name="txtUsuario" id="txtUsuario"
                                    aria-describedby="helpId" placeholder="Escriba su matricula" required
                                    maxlength="10">
                            </div>

                            <div class="mb-3">
                                <label for="txtNombre" class="form-label">Nombre:</label>
                                <input type="text" class="form-control" name="txtNombre" id="txtNombre"
                                    aria-describedby="helpId" placeholder="Escriba su nombre" required 
                                    maxlength="50">
                            </div>

                            <div class="mb-3">
                                <label for="txtPassword" class="form-label">Contraseña:</label>
                                <input type="text" class="form-control" name="txtPassword" id="txtPassword"
                                    aria-describedby="helpId" placeholder="Escriba su contraseña" required
                                    maxlength="20">
                            </div>

                            <div class="mb-3">
                                <label for="txtPasswordV" class="form-label">Verificar contraseña:</label>
                                <input type="text" class="form-control" name="txtPasswordV" id="txtPasswordV"
                                    aria-describedby="helpId" placeholder="Vuelva a escribir su contraseña" required
                                    maxlength="20">
                            </div>

                            <button type="submit" class="btn btn-success">Registrar Nuevo Usuario</button>

                        </form>

                    </div>
                    <div class="card-footer text-muted">
                        
                    </div>
                </div>
            </div>

        </div>
    </div>

    <header>
        <!-- place navbar here -->
    </header>
    <main>

    </main>
    <footer>
        <!-- place footer here -->
    </footer>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
        </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
        </script>
</body>

</html>