<!doctype html>
<html lang="en">

<head>
    <title>Sign Up</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='estilo_signup.css') }}">
    <!-- Bootstrap CSS v5.2.1 -->
    <link rel="stylesheet" href="styles/registro.css">
        <!-- Bootstrap CSS v5.2.1 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
            href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
            rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://unpkg.com/axios/dist/axios.min.js" defer></script>  
    <link rel="icon" type="image/jpg" href="img/aperture.ico"/>  

</head>

<body>

    <div class="container">
        <div class="contenido">
            <div class="row">
                    <div class="card-header">
                        <h1>Registro Nuevo Usuario</h1>
                    </div>
                    <div class="card-body">
                        <form action="/signup" method="post">

                            <div class="mb-3">
                                <i class='bx bx-hash' ></i>
                                <label for="txtUsuario" class="form-label">Matricula:</label>
                                <input type="text" class="form-control" name="txtUsuario" id="txtUsuario"
                                    aria-describedby="helpId" placeholder="Escriba su matricula" required
                                    maxlength="10">
                            </div>

                            <div class="mb-3">
                                <i class='bx bx-group'></i>
                                <label for="txtNombre" class="form-label">Nombre:</label>
                                <input type="text" class="form-control" name="txtNombre" id="txtNombre"
                                    aria-describedby="helpId" placeholder="Escriba su nombre" required 
                                    maxlength="50">
                            </div>

                            <div class="mb-3">
                                <i class='bx bx-lock-alt'></i>
                                <label for="txtPassword" class="form-label">Contraseña:</label>
                                <input type="text" class="form-control" name="txtPassword" id="txtPassword"
                                    aria-describedby="helpId" placeholder="Escriba su contraseña" required
                                    maxlength="20">
                            </div>

                            <div class="mb-3">
                                <i class='bx bx-lock-open-alt' ></i>
                                <label for="txtPasswordV" class="form-label">Verificar contraseña:</label>
                                <input type="text" class="form-control" name="txtPasswordV" id="txtPasswordV"
                                    aria-describedby="helpId" placeholder="Vuelva a escribir su contraseña" required
                                    maxlength="20">
                            </div>
                            <div class="rule">
                                <h2><a class="mb-3" href="">Reglamento de laboratorio</a></h2>
                            </div>
                            <button type="submit" class="btn btn-success">Registrarse</button>

                        </form>

                    </div>
                    <div class="card-footer text-muted">
                        
                    </div>
            </div>

        </div>
    </div>
</body>

</html>