*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  list-style-type: none;
}
:root{
  --color-blue: #115DFC;
  --color-blue-gradiente: linear-gradient(180deg, #4480FF 0%, #115DFC 50%, #0550ED 100%);
  --color-violet: rgb(238, 103, 238);
}
a:link,
a:visited,
a:hover,
a:active {
  color: black;
  text-decoration: none;
}
.container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.contenido{
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid blueviolet;
  border-right: 2px solid blueviolet;
  border-top: 2px solid white;
  border-left: 2px solid white;
  transition-duration: 1s;
  transition-property: border-top, 
     border-left, 
     border-bottom,
     border-right,
     box-shadow;
  transition: 0.5s ease-out;
  overflow: visible;
  padding: 3em;
  border-radius: 20px; 
}

.bx.bx-receipt{
  font-size: 3em;
}
.contenido:hover {
   border-top: 2px solid blueviolet;
 border-left: 2px solid blueviolet;
 border-bottom: 2px solid rgb(238, 103, 238);
 border-right: 2px solid rgb(238, 103, 238);
 box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
 }
.bienvenida{
  width:80%;
  height:10em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.row{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 2em;
  width:80%;
  height:10em;
}
.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card-body{
  padding: 1em;
}
.form-control{
  width: auto;
  height: 40px;
  padding: 0 0 0 40px;
  border-radius: 7px;
  outline: none;
  border: 1px solid #e5e5e5;
  filter: drop-shadow(0px 1px 0px #efefef)
    drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}
.form-control:focus {
  border: 1px solid transparent;
  box-shadow: 0px 0px 0px 3px var(--color-blue);
  background-color: transparent;
}

.form{
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.bx.bx-user{
  width: 20px;
  position: absolute;
  z-index: 99;
  left: 12px;
  bottom: 12px;
}
.bx.bxs-key{
  width: 20px;
  position: absolute;
  z-index: 99;
  left: 12px;
  bottom: 12px;
}
.mb-3{
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}
.btn.btn-success{
  display: flex;
  flex-direction: row;
  justify-content: center;  
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 36px;
  background: var(--color-blue);
  box-shadow: 0px 0.5px 0.5px #EFEFEF, 0px 1px 0.5px rgba(239, 239, 239, 0.5);
  border-radius: 5px;
  border: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
  transition: all 0.6s cubic-bezier(0.15, 0.83, 0.66, 1);

}
@media (max-width: 767px) {
  .contenido {
      flex-direction: column;
      padding: 2em 0;
      margin: 0em 1em;
      width: 90vw;
      border: 2px solid blueviolet;
      transition-duration: 1s;
      transition-property: border-top, 
         border-left, 
         border-bottom,
         border-right,
         box-shadow;
    
  }
  .container{
    width: 100vw;
  }
  .row{
    margin: 4em 2em;
  }
}