{% include "admin/cabecera.html" %}
<br>
<div class="container">
    <div class="row">
        <div class="col-md-5">
            
            <div class="card">
                <div class="card-header">
                    <h2>Laboratorio 1</h2>
                </div>
                <div class="card-body">

                    <form action="/admin/laboratorio1/guardar" method="post" enctype="multipart/form-data">

                        <div class="mb-3">
                            <label for="txtID" class="form-label">ID:</label>
                            <input type="text"
                              class="form-control" name="txtID" id="txtID" aria-describedby="helpId" placeholder="Escriba su Matricula">
                        </div>

                        <div class="mb-3">
                            <label for="txtMatricula" class="form-label">Matricula:</label>
                            <input type="text"
                              class="form-control" name="txtMatricula" id="txtMatricula" aria-describedby="helpId" placeholder="Escriba la matricula">
                        </div>

                        <div class="mb-3">
                            <label for="txtUso" class="form-label">Uso:</label>
                            <input type="text"
                              class="form-control" name="txtUso" id="txtUso" aria-describedby="helpId" placeholder="Usando">
                        </div>

                        <div class="mb-3">
                          <label for="txtDisponible" class="form-label">Disponible</label>
                          <input type="text"
                            class="form-control" name="txtDisponible" id="txtDisponible" aria-describedby="helpId" placeholder="Disponible">
                        </div>

                        <button type="submit" class="btn btn-primary">Agregar</button>

                    </form>

                </div>
                <div class="card-footer text-muted">
                    <div>
                        <h1>Modificar</h1>
                        <form action="/admin/laboratorio1/borrar" method="post">
                            <input value= "1" type="text" name="txtID" id="txtID">
                            <button type="submit" class="btn btn-danger">Eliminar</button>
                        </form>
    
                        <form action="/admin/laboratorio1/habilitar" method="post">
                            <input value= "1" type="text" name="txtID" id="txtID">
                            <button type="submit" class="btn btn-primary">Habilitar</button>
                            
                        </form>
    
                        <form action="/admin/laboratorio1/desabilitar" method="post">
                            <input value= "1" type="text" name="txtID" id="txtID">
                            <button type="submit" class="btn btn-secondary">Desabilitar</button>
                        </form>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-7">
            <h2>Computadoras</h2>
            <div class="table-responsive">
                <table class="table table-primary">
                    <thead>
                        <tr>
                            <th>PC</th>
                            <th>Asignacion</th>
                            <th>Usando</th>
                            <th>Disponible</th>
                            <th>Editar</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for computadora in computadoras %}
                        <tr>
                            <td>{{ computadora[0] }}</td>
                            <td>{{ computadora[1] }}</td>
                            <td>
                                <img width="60" src="/img/{{ computadora[2] }}" class="img-fluid rounded-top" alt="">
                                {{ computadora[2] }}
                            </td>
                            <td>{{ computadora[3] }}</td>
                            <td>
                                <form action="/admin/laboratorio1/borrar" method="post">
                                    <input value= "{{ computadora[0] }}" type="text" name="txtID" id="txtID">
                                    <button type="submit" class="btn btn-danger">Eliminar</button>
                                </form>

                                <form action="/admin/laboratorio1/habilitar" method="post">
                                    <input value= "{{ computadora[0] }}" type="text" name="txtID" id="txtID">
                                    <button type="submit" class="btn btn-primary">Habilitar</button>
                                    
                                </form>

                                <form action="/admin/laboratorio1/desabilitar" method="post">
                                    <input value= "{{ computadora[0] }}" type="text" name="txtID" id="txtID">
                                    <button type="submit" class="btn btn-secondary">Desabilitar</button>
                                </form>
                            </td>

                        </tr>
                        {% endfor %}
                    </tbody>
                </table>


               

            </div>
            


            <h2>Solicitudes</h2>
            <div class="table-responsive">
                <table class="table table-primary">
                    <thead>
                        <tr>
                            <th>Matricula</th>
                            <th>Computadora</th>
                            <th>Hora</th>
                            <th>Aprobacion</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for computadora in solicitud %}
                        <tr>
                            <td>{{ computadora[1] }}</td>
                            <td>{{ computadora[2] }}</td>
                            <td>{{ computadora[3] }}</td>
                            <td>{{ computadora[4] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>


        </div>
        
    </div>
</div>




{% include "admin/pie.html" %}