<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reglamento</title>
</head>

<style>
    .boton-regresar {
        display: inline-block;
        padding: 10px 20px;
        background-color: #f0f0f0;
        color: #000;
        text-decoration: none;
        border-radius: 4px;
        font-family: 'Bitter', 'Poppins', sans-serif;
    }

    .boton-regresar:hover {
        background-color: #ccc;
    }

    .reglamento {
        text-align: center;
        vertical-align: middle;
        border: 5rem;
    }

    .justificado {
        text-align: justify;
        margin: 3rem;
    }

    div p {
        font-weight: 530;
        font-family: 'Bitter', 'Poppins', sans-serif;
    }

    ul li {
        font-weight: 530;
        font-family: 'Bitter', 'Poppins', sans-serif;
    }

    .lista {
        margin-left: 4rem;
        margin-right: 4rem;
    }
</style>

<header>
    <a href="/login" class="boton-regresar">Regresar</a>
</header>


<body>


    <div class="reglamento">
        <h1>
            Reglamento de laboratorios.
        </h1>

        <h2>
            Sobre los usuarios.
        </h2>
        <div class="justificado">
            <p>
                I.-Todo usuario es responsable del equipo, software, mobiliario y recursos que utilice, por lo que debe
                operarlos de manera adecuada y reportar al responsable del laboratorio cuando un equipo este dañado.
            </p>

            <p>
                II.-Sólo
                se permitirá la entradaa estudiantes que se hayan registrado en la bitácora del área correspondiente,
                excepto en las horas asignadas para clases, en las cuales sólo los alumnos de la misma podrán permanecer
                en
                el laboratorio.
            </p>

            <p>
                III.-En ningún caso, los alumnos podrán modificar o mover equipos de su lugar sin previa
                autorización.No podrán borrar o cargar software, así como conectar dispositivos o equipo ajeno sin
                autorización del personal responsable.
            </p>

            <p>
                IV.-Todo usuario podrá solicitar en préstamo el equipo y/o material
                que se encuentre a disposición, siempre y cuando proporcione su credencial de la UPIIT. El préstamo será
                solamente durante la sesión de trabajo y no podrá ser transferible.
            </p>

            <p>
                V.-La prioridad en el uso de las áreas de
                laboratorio y equipo, la tienen el profesor y los alumnos programados para atender la demanda semestra
            </p>
        </div>

        <h2>
            Sobre el personal responsable del laboratorio.
        </h2>
        <div class="justificado">
            <p>
                VI.-Se considera como personal responsable del laboratorio al profesor encargado de laboratorio así como
                a los alumnos en servicio social asignados a esas áreas. Durante las sesiones programadas para prácticas
                en los laboratorios, los profesores a cargo de la misma, se consideran como responsables inmediatos
                dentro de éste por lo tanto, deberán permanecer en el laboratorio durante toda la sesión.
            </p>

            <p>
                VII.-El personal responsable del laboratorio tiene derecho a solicitar al usuario se abstenga del empleo
                de recursos cuando éste denote desconocer su manejo o cuando el equipo requiera de mantenimiento.
            </p>

            <p>
                VIII.-El personal responsable del laboratorio tiene derecho a solicitar identificación, rectificación de
                su conducta o abandono del área a cualquier usuario y/o procederá a la aplicación de sanción por motivo
                de violación al presente reglamento.
            </p>

            <p>
                IX.-Es obligación delresponsabledel laboratorioproporcionar acceso a los profesores asignados a la
                clase. Es obligación del profesor responsable inmediato en uso del laboratorio revisar áreas y equipos
                al iniciar y una vez concluidas las sesiones.
            </p>
        </div>

        <h2>Sobre sanciones.</h2>

        <div class="justificado">
            <div class="lista">
                <p>X.-Será motivo de sanción:</p>
                <ul>
                    <li>Fumar dentro del laboratorio.</li>
                    <li>Introducir e ingerir bebidas y/o alimentos.</li>
                    <li>Faltar al respeto al personal responsable del laboratorio.</li>
                    <li>Utilizar el equipo en trabajos ajenos a los autorizados dentro de la Unidad.</li>
                    <li>La indisciplina o conducta inadecuada en los laboratorios, así como escuchar músicadentro de
                        ellos.</li>
                    <li>Dañar deliberadamente a las instalaciones, equipos, software, accesorios y/o recursos de los
                        laboratorios, así como desconfigurar equipo de cómputo.</li>
                    <li>Desacato al presente reglamento.</li>
                </ul>

            </div>
            <div class="lista">
                <p>XI.-Las sanciones por incurrir en cualquiera de los puntos marcados en el artículo X son:</p>
                <ul>
                    <li>En la primera incidencia, expulsión del área por ese día.</li>
                    <li>En la segunda incidencia, expulsión del área por un mes, con registro al expediente.</li>
                    <li>En la tercera incidencia, se turnará el caso a la comisión de honorde la Unidad.</li>
                    <li>En incidencia del articulo X inciso f, el infractor deberá además cubrir los costos de
                        reparación o reposición del bien dañado y será acreedor a una nota a su expediente y/o a que se
                        turne su caso a la comisión de honorde la UPIIT</li>
                </ul>

            </div>

        </div>

        <h2>Generales.</h2>
        <div class="justificado">
            <p>XVII.-Los responsables del laboratorio serán los encargados de verificar el cumplimiento y ejecución del
                presente reglamento.</p>
            <p>XVIII.-Cualquier caso no previsto en el presente reglamento será turnado a las Subdirección
                correspondiente. Estas recomendacionesquedan aprobadas por las autoridades de la UPIITen el mes de enero
                del 2023.</p>
        </div>

    </div>




</body>

</html>