{% include "admin/cabecera.html" %}

<h1>Usuarios</h1>
<br>


<section>
    <h2>Crear nuevo usuario</h2>
    <form action="/admin/usuarios/crear" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="txtUsuario" class="form-label">Matricula</label>
            <input type="text" required
              class="form-control" name="txtUsuario" id="txtUsuario" aria-describedby="helpId" placeholder="Escriba la Matricula">
        </div>
        <button type="submit" class="btn btn-primary">Crear</button>
    </form>
</section>


<table class="table table-hover">
    <thead>
        <h2>Buscar en Base de Datos</h2>
        <tr>
            <th scope="col"></th>
            <th scope="col">Matricula</th>
            <th scope="col">Nombre</th>
            <th scope="col">Contraseña</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <form action="/admin/usuarios/buscar" method="post" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="txtUsuario" class="form-label">Matricula</label>
                    <input type="text" class="form-control" name="txtUsuario" id="txtUsuario" aria-describedby="helpId"
                        placeholder="Selecciona la matricula del usuario solicitado">
                </div>
                <button type="submit" class="btn btn-primary">Buscar</button>
            </form>
        </tr>
        <tr>
            <th scope="row">
                <form action="/admin/usuarios/borrar" method="post" enctype="multipart/form-data">
                    <button type="submit" class="btn btn-danger" value= "{{ matricula }}" name="txtID" id="txtID">Eliminar</button>
                </form>
            </th>
            <td>{{ matricula }}</td>
            <td>{{ nombre }}</td>
            <td>{{ contraseña }}</td>
        </tr>
        <tr>
            <form action="/admin/usuarios/editar" method="post" enctype="multipart/form-data">
                <td><button type="submit" class="btn btn-secondary">Editar</button></td>
                <td><input type="text" name="txtMatricula" id="txtMatricula" required maxlength="10"></td>
                <td><input type="text" name="txtNombre" id="txtNombre" maxlength="50"></td>
                <td><input type="text" name="txtUsuario" id="txtUsuario" maxlength="20"></td>
            </form>
        </tr>
    </tbody>
</table>



{% include "admin/pie.html" %}